body {
    background-image: url("assets/images/just-waves.png");
}

.text {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
