body {
    background-image: url("assets/images/just-waves.png");
}

#name {
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.text {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}